Nordfin/Connected Services/AutoAccount/AutoAccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://webservice.creditsafe.se" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://webservice.creditsafe.se" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://webservice.creditsafe.se">
      <s:element name="AutoAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXmlStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutoAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPackageList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXmlStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPackageListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPackageListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutoAccountSoapIn">
    <wsdl:part name="parameters" element="tns:AutoAccount" />
  </wsdl:message>
  <wsdl:message name="AutoAccountSoapOut">
    <wsdl:part name="parameters" element="tns:AutoAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetPackageListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPackageList" />
  </wsdl:message>
  <wsdl:message name="GetPackageListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPackageListResponse" />
  </wsdl:message>
  <wsdl:portType name="AutoAccountServiceSoap">
    <wsdl:operation name="AutoAccount">
      <wsdl:input message="tns:AutoAccountSoapIn" />
      <wsdl:output message="tns:AutoAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPackageList">
      <wsdl:input message="tns:GetPackageListSoapIn" />
      <wsdl:output message="tns:GetPackageListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoAccountServiceSoap" type="tns:AutoAccountServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutoAccount">
      <soap:operation soapAction="https://webservice.creditsafe.se/AutoAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackageList">
      <soap:operation soapAction="https://webservice.creditsafe.se/GetPackageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutoAccountServiceSoap12" type="tns:AutoAccountServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutoAccount">
      <soap12:operation soapAction="https://webservice.creditsafe.se/AutoAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackageList">
      <soap12:operation soapAction="https://webservice.creditsafe.se/GetPackageList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoAccountService">
    <wsdl:port name="AutoAccountServiceSoap" binding="tns:AutoAccountServiceSoap">
      <soap:address location="https://webservice.creditsafe.se/AutoAccount/AutoAccountService.asmx" />
    </wsdl:port>
    <wsdl:port name="AutoAccountServiceSoap12" binding="tns:AutoAccountServiceSoap12">
      <soap12:address location="https://webservice.creditsafe.se/AutoAccount/AutoAccountService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>